.body .sidebar {
  max-width: 24.0rem;
  position: fixed;
}

.body .sidebar-seg {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}

.body .sidebar-seg button {
  display: flex;
  width: 20.4rem;
  height: 4.0rem;
  align-items: center;
  padding: 1.1rem 0 1.1rem 1.6rem;
  border: none;
  border-radius: 1.0rem;
  background-color: white;
}

.body .sidebar-seg button:active {
  background-color: rgb(243, 243, 243);
}

.body .sidebar-seg button:hover {
  background-color: rgb(243, 243, 243);
}

.body .sidebar-seg button .icondim {
  width: 2.4rem;
  height: 2.4rem;
}
.body .sidebar-seg p, .sign-in p {
  font-size: 1.4rem;
  /* font-weight: 400; */
  margin-left: 2.8rem;
}

.body .sidebar .segment2, .sign-in{
  border-top: 0.1rem solid #D3D3D3;
}

.body .sidebar .sign-in {
  width: 24.0rem;
  padding: 1.2rem 0;
}

.body .sidebar .sign-in p {
  margin-left: 1.5rem;
}

.body .sidebar .sign-in .signin-btns {
  margin-top: 1.2rem;
  color: #065FD4;
  background-color: #ffffff;
  display: flex;
  height: 3.6rem;
  align-items: center;
  padding: 0rem 1.6rem 0rem 1.2rem;
  border-radius: 10rem;
  border: 0.1rem solid #D3D3D3;
  margin-left: 1.5rem;
}

.body .sidebar .segment2 .signin-btns p {
  margin-left: 0.8rem;
}

.body .sidebar .segment2 .segment-title {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  margin-left: 1.5rem;
}